@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Group Project</h1>
    <p class="lead">Group Members</p>
    <ul>

        <li><b>Niraj Patel</b> (200507909)</li>
        <li><b>Devanshi Thakur</b> (200490849)</li>
        <li><b>Bojitha Umagiliya</b> (200469401)</li>
        <li>
            Kevin Li
        </li>
    </ul>
</div>
